.project-image{
    text-align: center;
}

.project-image img{
    max-inline-size: 100%;
}

.project-description{
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-block: 40px;
}

@media screen and (min-width: 768px) {
    .project {
        display: flex;
        align-items: center;
    }

    .project-image{
        flex: 1;
    }

    .project:nth-of-type(odd) .project-image{
        order: 2;
    }

    .project-description{
        flex: 1;
        margin-inline-end: 24px;
    }
}